/* Login */
.test-button {
  margin: 1rem;
}

/* Header */
.logo {
  height: auto;
  width: 15rem;
}

.header-comp .logo-p {
  top: 6.5rem;
  left: 11rem;
}

.side-nav-link {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bolder;
  text-align: left;
  margin-left: 1rem;
  cursor: pointer;
  color: var(--font-color);
}

.side-nav-icon {
  margin-right: 1rem;
  font-size: 1.6rem;
}

/* cards */
.video-card-container {
  width: 35rem;
  position: relative;
  height: max-content;
  background-color: white;
  border-radius: 1rem;
  font-family: "Roboto", sans-serif;
}

.video-card-image-container {
  width: 35rem;
  padding: 0;
  margin: 0;
  height: auto;
  border-radius: 1rem;
}

.video-card-image {
  height: auto;
  width: 100%;
  margin: 0;
}

.details-container {
  gap: 10px;
}

.ratings {
  gap: 1.5rem;
  margin-top: 2px;
}

.ratings > * {
  font-size: 1.4rem;
}

.channel {
  gap: 5px;
  margin-top: 8px;
  color: #959696;
}

.fa-circle {
  font-size: 3px;
}

.fa-circle-check {
  font-size: 1.3rem;
}

.watch-later-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: white;
  padding: 3px;
  border-radius: 4px;
}

.liked-videos-icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: white;
  padding: 3px;
  border-radius: 4px;
}

.fa-heart{
  font-size: 2.5rem;
}

.fa-heart:hover{
  color: red;
}

/* .video-card-container:hover + .playlist-icon{
  display: block;
} */


.video-card-container:hover{
  transform: scale(1.05);
}


.playlist-icon {
  position: absolute;
  right: 1rem;
  bottom: 5.5rem;
  padding: 3px;
  border-radius: 4px;
  font-size: 3.5rem;
}

.main-comp{
  margin: 1rem;
  gap:2rem;
}

/* Page */
.main-comp-video {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  flex-direction: row;
  margin: 2rem;
  grid-column: 3/13;
  grid-row: 3/8;
  background-color: var(--background-color);
}

.chip-container-video {
  grid-column: 3/13;
  grid-row: 2/3;
}

.basic-chip-video {
  background-color: var(--white);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 2rem;
  border: 1px solid black;
}

.basic-chip-content {
  font-size: 2rem;
}

.filters {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.filter-checked-chip {
  background-color: var(--black);
  color: var(--white);
}

.extra {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  flex-direction: row;
  margin: 2rem;
  grid-column: 3/13;
  grid-row: 3/8;
  background-color: var(--background-color);
  grid-row: 2/8;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: var(--max-z-index);
}

.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.5;
}

.modal-content {
  position: absolute;
  background-color: var(--background-color);
  padding: 2rem;
  border-radius: 1rem;
}

.btn {
  gap: 1rem;
}

.video-modal-dismiss {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 2.5rem;
}

.form-heading {
  padding-bottom: 2rem;
}

.video-check {
  margin: 0 5px;
  padding: 0;
  font-size: 3rem;
}

.playlist-card {
  gap: 1rem;
 
}

.playlist-link{
  border-radius: 1rem;
  background-color: var(--primary-color);
  margin: 2rem;
  padding: 2rem;
  box-shadow: 5px 5px 5px var(--box-shadow);
}

.play{
  flex-wrap: wrap;
  gap:20rem
}


.jersey-btn{
  background-color: var(--secondary-color);
}


.listing-container{
  margin: 3rem;
}

.delete-list-icon{
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.horizontal-card-container{
  width:50rem;
}


.horizontal-image-container {
  grid-area: img;
  background: none;
}

.horizontal-card-img {
  width: 100%;
  height: 10rem;
}


.horizontal-text-container {
  grid-area: text;
  background-color: var(--white);
}